/*selector {
	property : value;
}*/

h1{
	color:red;
}

body{
	background-image: url("bhaskar.jpg");
	background-size: cover;

}

#registerButton{
	background-color: red;
	position: relative; top: 400px; left: 900px;
}